.bg{
  background: url(/images/bg.jpeg) center;
  background-size: cover;
  min-height: 100vh;
}


.card{

  margin-bottom: 3rem;
  border-radius: 10px;
  box-shadow: 0 5pt 15pt rgba(0, 0, 0, 0.22);
  border : 1px #f8f9fa!important;
}

form{
  padding-left: 2rem;
  padding-right: 2rem;
}

.line{
  background: #ccc;
  height: 2px;
  margin-top: 4%;
}

.h-100{
  height: 100vh !important;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/******** HOME *************/
.user-data{
  position: fixed;
  width: 23%;
  top: 24%;
}
.user-avatar{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 1 px solid #ccc;
  box-shadow: 0 5pt 15pt rgba(0, 0, 0, 0.22);
  background: url(/images/bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bio{
  font-size: 1.3rem;
  color: #adb5bd;
}

.show-profile{
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #1d212461;
  width: 100%;
  padding-bottom: 13px;
  padding-top: 2rem;
}

.search{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 28px;
  display: inline-block;
  width: 50%;
  margin-bottom: 2rem;
}

.search i{
  font-size: 1rem;
  color: white
}

.search input{
  width: 88%;
  padding-left: 10px;
  font-size: 1rem;
  border: none;
  background: transparent;

}

.search input::placeholder{
  color : white;
}


nav{
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  border-right: 1px solid #6c757d;


}

.nav-pills .nav-link{
  border-radius: 0;
  border-left: 1px solid #6c757d;
  color: white !important;

}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #6c757d;
}

nav a {
  color: #6c757d;
}

.lead{
  font-weight: unset;
}

.img-post{
  width: 10rem;
  height: 11rem;
}

.img-post-modal{
  width: 9rem;
  height: 11rem;
}


/********* profile *************/
.fixed-right{
  position: fixed;
  top: 3%;
  right: 11%;
  z-index: 100;
}

.fixed-left{
  position: fixed;
  top: 3%;
  left: 11%;
  z-index: 100;
}
